[Unit]
Description=JupyterAdmin
After=network-online.target

[Service]
User=jupyteradmin
ExecStart=/opt/admin/run.sh
WorkingDirectory=/opt/admin
Restart=on-failure

[Install]
WantedBy=multi-user.target
